<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="syncphantom" name="fr.obeo.acceleo.gen.syncphantom" schema="schema/syncphantom.exsd"/>
   <extension-point id="module" name="fr.obeo.acceleo.gen.module" schema="schema/module.exsd"/>
   <extension-point id="externalservices" name="fr.obeo.acceleo.gen.externalservices" schema="schema/externalservices.exsd"/>
   

</plugin>
