<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
  Copyright (c) 2007, 2008 THALES CORPORATE SERVICE
  All rights reserved.
  
  Contributors:
       Obeo - Initial API and implementation
-->

<plugin>
   <extension
         id="fr.obeo.dsl.common.acceleo.interpreter.AcceleoExtendedInterpreter"
         point="org.eclipse.sirius.common.expressionInterpreter">
      <expressionInterpreterProvider
            interpreterProviderClass="fr.obeo.dsl.common.acceleo.business.internal.interpreter.AcceleoExtendedInterpreter">
      </expressionInterpreterProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.common.proposalProvider">
      <proposalProvider
            class="fr.obeo.dsl.common.acceleo.business.internal.interpreter.AcceleoExtendedInterpreter"
            interpreter="fr.obeo.dsl.common.acceleo.interpreter.AcceleoExtendedInterpreter">
      </proposalProvider>
   </extension>

</plugin>
